/grafana/bin/grafana
/promethues/promethues.exe
/promethues/promtool.exe
*#
.#*
/*.yaml
/*.yml
*.exe

/prometheus
/promtool
benchmark.txt
/data
/data-agent
/cmd/prometheus/data
/cmd/prometheus/data-agent
/cmd/prometheus/debug
/benchout
/cmd/promtool/data

!/.travis.yml
!/.promu.yml
!/.golangci.yml
/documentation/examples/remote_storage/remote_storage_adapter/remote_storage_adapter
/documentation/examples/remote_storage/example_write_adapter/example_write_adapter

npm_licenses.tar.bz2
/web/ui/static/react

/vendor

/**/node_modules

backend/.venv/

# Ignore parser debug
y.output

* Zone.Identifier
*Zone.Identifier
/**/ Zone.Identifier
grafana/data/log/grafana.log
grafana/data/log/grafana.log
grafana/data/grafana.db
*.db
grafana/data/log/grafana.log
grafana/data/grafana.db
